# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/

# Virtual env
.venv/
venv/

# Environment files
.env
.env.*
.env.render
!.env.example
!.env.production.example

# Local runtime data
data/
logs/
*.log
teste_sem_senha.bat

# OS / editor
.DS_Store
Thumbs.db
.idea/
.vscode/
teste_com_senha.bat
